@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-primary antialiased;
  }
}

.glass-panel {
  @apply bg-glass backdrop-blur-md border border-glassBorder;
}
